<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> <!--head partial-->
</head>
<body>
    <%- include('./partials/nav.ejs') %> <!--nav partial-->
    <div class="holder">
        <div class="list-content">
            <h2>All foods created</h2>
            <% if(foods.length > 0) { %>
                <% foods.forEach(food => { %>
                    <a class="single" href="food/<%= food._id %>">
                        <h3 class="name"><%= food.name %></h3>
                        <p class="price">£<%= food.price %></p>
                        <p class="aisle">Item is found on aisle <%= food.aisle %></p>
                    </a>
                    <form action="/food"
                        <button id="add-to-lst" >Add to list</button>
                    </form>
                    <!--//! need to wrap in a form to make a post request-->
                <% }) %>    
            <% } else { %>
                <p>There are no foods to display</p>
            <% } %>
        </div>
        <div class="shopping-area">
            <h2 class="list-items">Shopping list</h2>
            
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> <!--footer partial-->
</body>
</html>