<!DOCTYPE html>
<html lang="en">
<head>
    <%- include() %> <!--head partial-->
</head>
<body>
    <%- include() %> <!--nav partial-->
    
    <div class="list-content">
        <h2>All food</h2>
        <% if(foods.length > 0) { %>
            <% foods.foreach(food => { %>
                <a class="single" href="foods/<%= food._id %>">
                    <h3 class="title"><%= food.name %></h3>
                    <p class="price"><%= food.price %></p>
                </a>
           <% }); %>
        <% } else { %>
            <p>No foods have been added</p>
            <% } %>
    </div>

    <%- include() %> <!--footer partial-->
</body>
</html>