<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> <!--head partial-->
</head>
<body>
    <%- include('./partials/nav.ejs') %> <!--nav partial-->
    <div class="holder">
        <div class="list-content">
            <h2>Shopping list</h2>
            <% if(shopping.length > 0) { %>
                <% shopping.forEach(item => { %>
                    <h3 class="name" name="name"><%= shopping.name %></h3>
                    <p class="price" name="price">£<%= shopping.price %></p>
                    <p class="aisle" name="aisle">Item is found on aisle <%= shopping.aisle %></p>
                    <button id="add-to-lst" >Add to list</button>
                    <!-- need to use the information that is submitted to take the information
                    from the food list to create the shopping entry-->
                <% }) %>    
            <% } else { %>
                <p>There are no foods to display</p>
            <% } %>
        </div>
        <div class="search">
            <h2>Search for an item</h2>
            <form method="get">
                <input type="text" placeholder="search for an item">
                <button class='searchButton' onclick="checkConnected()">Search</button>
            </form>
            <div class="searchHolder">
                
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> <!--footer partial-->
</body>
</html>